.headerContainer {
    height: 15vh;
    display: flex;
    align-items: center;
}

.description {
    display: flex; 
    flex-direction: column;
    margin-left: 5vh
}

.postButton {
    margin-left: 40vh;
}